doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")

    body
      .mega-menu
        each menu, key1 in data.menu
          .parentLink
            a.mainLink(href=`/${menu.parentHref}`)= menu.parentLink
            .mega-menu_drop-down
              .test1
                a.menu-all-link(href=`${menu.dropdownHeaderHref}`)= menu.dropdownHeaderText
                  each subMenu, key2 in menu.list
                    ul.subMenu-lists
                      each subMenuList, key3 in subMenu
                        li.subMenu-item
                          a.subMenu-link(href=`/#`)= subMenuList.text
            if menu.dropDown 
              .mega-menu_drop-down
                each secondMenu in menu.list
                  .parentLinkSecondMenu
                    //- pre= JSON.stringify(secondMenu, null, 2)
                    if secondMenu.parentHref == 'javascript://'
                      .mainLink=secondMenu.parentLink
                        each secondMenuItem in secondMenu.list
                          .mega-menu_drop-down_secondMenu
                            .smecherie
                              each secondMenuSubItem in secondMenuItem
                                if secondMenuSubItem.link
                                  .smecherie2
                                    a.ceva(href='#')=secondMenuSubItem.text
                    else
                      a.mainLink(href=`/${secondMenu.parentHref}`)=secondMenu.parentLink
                        each secondMenuItem in secondMenu.list
                          .mega-menu_drop-down_secondMenu
                            .smecherie
                              each secondMenuSubItem in secondMenuItem
                                if secondMenuSubItem.link
                                  .smecherie2
                                    a.ceva(href='#')=secondMenuSubItem.text

      script.
        let elements = () => {
         document.getElementsByClassName('.parentLink').innerHTML = 'ceva';
        }
        elements()